{{#if hasSong}}
  <div class="music-player">
    <div class="button">
      {{#if isPlaying}}
        <div {{action 'pause'}} class="fa fa-pause"></div>
      {{else}}
        <div {{action 'play'}} class="fa fa-play"></div>
      {{/if}}
    </div>
    <img src="{{song.artist.thumbnail}}" alt="">
    <div class="song-data">
      <div class="primary-text">
        {{song.name}}
      </div>
      <div class="secondary-text">
        {{song.artist.name}} <br>
        {{format-time song.length}}
      </div>
    </div>
  </div>
{{/if}}