<ul class="list-content">
{{#each sortedSongs2 as |song|}}
  <li class="list-wrapper">
    <div class="list-image">
      <img src="{{song.artist.thumbnail}}" alt="">
      <div class="list-image-button" {{action 'play' song}}>
        <span class="fa fa-play"></span>
      </div>
    </div>
    <div class="list-data">

      <div class="primary-text">
        {{song.name}}
      </div>
      <div class="secondary-text">
        {{song.artist.name}} <br>
        {{format-time song.length}}
      </div>
    </div>
  </li>
{{/each}}
</ul>
